<section id="features" class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h2 class="section__title">We believe in helping people pay attention to what matters</h2>
                    <p class="section__subtitle">Create screens directly in Singleton or add your images from Sketch or Figma. You can even sync designs from your cloud storage!</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <partial src="components/feature-item.html" image="feature-1.png" title="Engage Customers" content="It is a long established fact that a reader will be distracted"></partial>
            <partial src="components/feature-item.html" image="feature-2.png" title="Email Marketing" content="It is a long established fact that a reader will be distracted"></partial>
            <partial src="components/feature-item.html" image="feature-3.png" title="Team Accounts" content="It is a long established fact that a reader will be distracted"></partial>
            <partial src="components/feature-item.html" image="feature-4.png" title="Security Managment" content="It is a long established fact that a reader will be distracted"></partial>
            <partial src="components/feature-item.html" image="feature-5.png" title="User Administration" content="It is a long established fact that a reader will be distracted"></partial>
            <partial src="components/feature-item.html" image="feature-6.png" title="Digital Agency" content="It is a long established fact that a reader will be distracted"></partial>
        </div>
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <button class="btn button-success">Explore All Features</button>
            </div>
        </div>
    </div>
</section>