<section id="email" class="section section-email">
    <div class="container-fluid">
      <div class="row align-items-center">
          <div class="col-lg-6 section-email__image">
             <img class="img-fluid" src="{{'/assets/images/email.png' | absolute_url}}" alt="">
          </div>
          <div class="col-lg-6 section-email__content">
              <!-- Mashead text and app badges-->
              <div class="mb-5 mb-lg-0 text-center text-lg-start">
                  <p class="section-email__headline">Product of the day</p>
                  <h2 class="section__title section-email__title">The easiest way to turn your passion into income</h2>
                  <p class="section-email__subtitle">Never worry about storing, finding, or sharing your memories thanks to unlimited storage in high quality on Google Photos.</p>
                  <form class="section-email__form" id="subscriber-form">
                      <div class="input-group section-email__form__group">
                        <div class="input-group-prepend section-email__form__group__prepend">
                          <span class="input-group-text section-email__form__group__text"><i class="fa-solid fa-envelope"></i></span>
                        </div>
                        <input id="subscriber-email" type="text" class="form-control section-email__form__input" placeholder="Type your e-mail" aria-label="Email" aria-describedby="Email">
                      </div>
                      <button class="btn section-email__form__button">Download Now</button>
                  </form>
              </div>
          </div>
          
      </div>
    </div>
  </section>