<!-- Footer -->
<footer class="footer text-center text-lg-start bg-light text-muted">
    <div class="container text-center text-md-start mt-5">
        <div class="row justify-content-between mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 footer__col">
                <p>
                    We point past each other with our words, arguing as though we are looking at the same facts and experiences.
                </p>
                <a href="#" class="btn btn-primary button-success">Ask Question</a>
            </div>
            <!-- Footer List About -->
            <div class="col-md-2 col-lg-2 col-xl-2 footer__col">
                <h6 class="footer__col__title">
                    About
                </h6>
                <ul class="footer__list">
                    <li class="footer__list__item"><a href="#">Our Mission</a></li>
                    <li class="footer__list__item"><a href="#">Our Story</a></li>
                    <li class="footer__list__item"><a href="#">Our Culture</a></li>
                    <li class="footer__list__item"><a href="#">The Team</a></li>
                </ul>
            </div>

            <!-- Footer List Blog -->
            <div class="col-md-2 col-lg-2 col-xl-2 footer__col">
                <h6 class="footer__col__title">
                    Blog
                </h6>
                <ul class="footer__list">
                    <li class="footer__list__item"><a href="#">Business Stories</a></li>
                    <li class="footer__list__item"><a href="#">Digital Mums</a></li>
                    <li class="footer__list__item"><a href="#">Learning</a></li>
                    <li class="footer__list__item"><a href="#">Social Media</a></li>
                </ul>
            </div>
            <!-- Footer List Content -->
            <div class="col-md-4 col-lg-3 col-xl-3 footer-col">
                <h6 class="footer__col__title">Contact</h6>
                <p>Fell free get in touch with us via phone or send us a message</p>
                <p>+12 699 241-395<br/>hello@sample.example</p>
            </div>
        </div>
        <hr class="footer__divider"></hr>
        <div class="row d-flex justify-content-between footer__bottom">
            <div class="col-12 col-sm-6 footer__bottom__col">
                <span>© 2020 Sample. All rights reserved.</span>
            </div>
            <div class="col-12 col-sm-6 footer__bottom__col">
                <div class="text-center text-sm-end footer__social">
                    <a href="#" class="footer__social__item">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="footer__social__item">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="footer__social__item">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>