<section id="pricing" class="section section-pricing">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h2 class="section__title">Pricing Options</h2>
                <p class="section__subtitle">Create screens directly in Singleton or add your images from Sketch or Figma. You can even sync designs from your cloud storage!</p>
            </div>
        </div>
        <div class="row align-items-center">
            {%- include components/pricing-item.html -%}
        </div>
    </div>
</section>