$scorpion: #5d5d5d;
$white: #ffffff;
$alabaster: #f7f7f7;
$cod-gray: #111111;
$mantis: #6ac75a;
$electric-violet: #783bff;
$athens-gray: #e1e4eb;
$spun-pearl: #a9abbd;
$silver-chalice: #acacac;
$theme-colors: (
    "primary": $mantis
);
$container-max-widths: (
  "md": 720px,
  "lg": 960px,
  "xl": 1100px,
  "xxl": 1200px
);