.pricing-item {
    @include make-col-ready();
    @include make-col(12);
    @include media-breakpoint-up(lg) {
        @include make-col(4);
    }
    &__wrapper {
        border-radius: 0.625rem;
        background: transparent;
        border: 0.0625rem solid $athens-gray;
        padding: 1.875rem;
        max-width: 33.125rem;
        margin: 0 auto 1rem;
    }
    &__title {
        font-size: 1.5rem;
        letter-spacing: -0.03em;
        line-height: 2.125rem;
        text-align: left;
        color: $cod-gray;
        margin-bottom: 0.625rem;
    }
    &__subtitle {
        font-size: 1.125rem;
        letter-spacing: -0.02em;
        line-height: 1.75rem;
        text-align: left;
        color: rgba($color: $cod-gray, $alpha: 0.5);
        margin-bottom: 1.25rem;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;
        &__price {
            font-size: 3rem;
            letter-spacing: -0.05em;
            line-height: 3.5rem;
            text-align: right;
            color: $cod-gray;
            padding-right: 1rem;
        }
        &__notes {
            font-size: 0.875rem;
            letter-spacing: -0.02em;
            line-height: 1.5rem;
            text-align: left;
            color: rgba($color: $cod-gray, $alpha: 0.5);
            p {
                margin-bottom: 0;
            }
        }
    }
    &__button {
        width: 100%;
        padding: 1rem;
        background: white;
        border-radius: 0.3125rem;
        border: 0.0625rem solid $athens-gray;
        text-decoration: none;
        display: block;
        text-align: center;
        color: $electric-violet;
        &:hover{
            @include button-purple;
        }
        
    }
}