html {
    scroll-behavior: smooth;
}
body {
    background: $white;
    color: $scorpion;
    font-family: 'Poppins', helvetica;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.02em;
    position: relative;
}