<div class="pricing-item">
    <div class="pricing-item__wrapper">
        <h4 class="pricing-item__title">@@title</h4>
        <p class="pricing-item__subtitle">@@subtitle</p>
        <div class="pricing-item__content">
            <div class="pricing-item__content__price">
                <span>@@price</span>
            </div>
            <div class="pricing-item__content__notes">
                <p>per month</p>
                <p>per user</p>
            </div>
        </div>
        <a href="#" class="pricing-item__button">Select Plan</a>
    </div>
</div>
