<section id="highlight" class="section section-highlight">
    <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 text-center section__animation">
             <img id="highlight-animation" src="" data-src="./img/highlight.png" class="lazy" alt="Highlight">
          </div>
          <div class="col-lg-6">
              <div class="text-center text-lg-start">
                  <h1 class="section__title section-highlight__title">Studio-like photos. Without the studio.</h1>
                  <p class="section__subtitle section-highlight__subtitle">Never worry about storing, finding, or sharing your memories thanks to unlimited storage in high quality on Google Photos.</p>
                  <form id="buying-form" class="section-highlight__form">
                    <div class="custom-input__quantity section-highlight__form__input">
                        <input id="buying-quantity" type="number" class="custom-input__number" placeholder="1">
                    </div>    
                    <button type="button" class="btn btn-lg button-success">Buy for $999</button>
                  </form>
                  <p class="section-highlight__caption">The product image is taken from store.google.com</p>
              </div>
          </div>
          
      </div>
    </div>
  </section>